APP_NAME=core-api-service
APP_ENV=development
JWT_SECRET=change-me-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ibot_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD= redis

PGADMIN_DEFAULT_EMAIL=shreepranav06@gmail.com
PGADMIN_DEFAULT_PASSWORD=SSP06cr7

LLAMA_CLOUD_API_KEY = LLAMA_CLOUD_API_KEY
